<div class="watch">
    <img width="185px" class="floatleft" src="/assets/images/{{include.image}}" alt="{{include.alt}}" />
    <p>⏱️ <b>Make/Model:</b> {{include.model}}<br>
    📐 <b>Case size:</b> {{include.size}}<br>
    ⚙️ <b>Movement:</b> {{include.movement}}<br>
    💦 <b>Water Restist:</b> {{include.wr}}<br>
    🏷️ <b>Category:</b> {{include.category}}<br>
    💷 <b>Price:</b> {{include.price}}<br>
    🧐 <b>My rating:</b> {{include.stars}}</p>
    <div class="spacer"></div>
    <p>{{include.summary}}</p>
</div>