/** Global colour variables **/
:root {
	--text: #444;
	--accent-text: #000;
	--bg: #fafafa;
	--accent-bg: #efefef;
  --input-bg: white;
  --warning: #ffdd55;
  --notice: #aaccff;
  --tip: #DBFFD6;
  --highlight: #ffdd55;
	--sans: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
	--mono: Menlo, Consolas, Monaco, "Liberation Mono", Lucida Console, monospace;
  --content-margin: 1.5rem auto;
  --bigger-content-margin: 2.5rem auto;
  --standard-border: 3px solid var(--text);
}

@media (prefers-color-scheme: dark) {
 :root {
   --text: #ccc;
   --accent-text: #fafafa;
   --bg: #222;
   --accent-bg: #2d2d2d;
   --input-bg: black;
   --warning: #923733;
   --notice: #3070D0;
   --tip: #4C7147;
   img {
    opacity: 70%;
   }
 }
}

/****** Main body elements ******/
html {
  scroll-behavior: smooth;
}

body {
  color: var(--text);
  background: var(--bg);
  font-family: var(--sans);
  -webkit-font-smoothing: antialiased;
  font-size: 1.35rem;
  line-height: 1.5;
  margin: 0;
}

main,
header,
footer,
.post-nav {
  display: block;
  max-width: 39rem;
  margin: 0 auto;
  padding: 0 1rem;
}

header {
  text-align: center;
}

p,
table {
  margin: var(--content-margin);
}

/****** Format the nav bar ******/
nav {
  font-weight: 600;
}

nav a,
nav a:visited {
  font-size: 1.1rem;
  margin-left: 12px;
}

nav a:hover,
nav a#current {
  color: var(--accent-text);
  background: var(--accent-bg);
}

/****** Header elements ******/
.site-logo {
  vertical-align: sub;
  display: inline-block;
  margin: 1.5rem 0;
  width: 3.5rem;
  height: auto;
  stroke-width: 0;
  stroke: var(--text);
  fill: var(--text);
 }

/****** Typography elements ******/
h1, h2, h3, h4, h5, h6 {
  color: var(--accent-text);
  font-weight: bold;
}

.page-title,
main h1,
h1, h2, h3 {
  line-height: 1.2;
  margin: 0;
}

h4, h5, h6 {
  margin-bottom: 1rem;
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
  margin-top: 3rem;
}

h3 {
  font-size: 2rem;
  margin-top: 3rem;
}

h4 {
  font-size: 1.44rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 0.96rem;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  font-size: inherit;
  color: var(--accent-text);
}

.post-list h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: var(--text);
  margin: 1rem 0;
}

.page-title {
  margin-top: 1.5rem;
}

.spacer {
  padding-top: 1.5rem;
}

/* Reduce header size on mobile */
@media only screen and (max-width: 750px) {
  header,
  .post-nav {
    max-width: 100%;
    padding: 0;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.1rem;
  }

  .post-list h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.25rem;
  }
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.floatleft {
  float: left;
}

.right {
  text-align: right;
}

a,
a:visited {
  color: var(--text);
  text-decoration-thickness: .15rem;
  transition: color .1s ease-in-out,background-color .1s ease-in-out;
}

a:hover {
  color: var(--accent-text);
  background: var(--accent-bg);
}

h2 a,
h3 a,
h2 a:visited,
h3 a:visited {
  color: var(--accent-text);
}

main img,
figure,
video {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

/* Format image captions */
img+em,
figcaption {
  font-size: 0.8rem;
  font-style: normal;
  text-align: center;
  display: block;
}

iframe {
  margin: var(--content-margin);
}

.icon {
  vertical-align: sub;
  padding-right: .25rem;
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.search {
  padding-right: 0;
}

blockquote {
  font-size: 1.5rem;
  margin: var(--bigger-content-margin);
  padding: .4rem .8rem;
  border-left: 6px solid var(--text);
  font-style: italic;
  display: block;
}

cite {
  font-size: 1rem;
  font-family: var(--sans);
  font-style: normal;
}

/* Notice boxes */
.notice,
.notice-red,
.warning,
.tip {
  background: var(--accent-bg);
  border: 3px solid var(--accent-text);
  color: var(--accent-text);
  padding: 1rem 1rem 2rem 1rem;
  margin: var(--bigger-content-margin);
}

.notice::before,
.notice-red::before,
.warning::before,
.tip::before {
  color: var(--accent-text);
  border-right: 3px solid var(--accent-text);
  border-bottom: 3px solid var(--accent-text);
  display: block;
  text-align: center;
  position: relative;
  left: -1rem;
  top: -1rem;
  padding: 2px 10px;
  font-weight: bold;
}

.notice a,
.warning a,
.notice-red a,
.tip a {
  color: var(--accent-text);
}

.notice a:hover,
.warning a:hover,
.notice-red a:hover,
.tip a:hover {
  background-color: var(--bg);
}

.notice::before {
  content: "NOTE";
	background: var(--notice);
	width: 5rem;
}

.notice-red::before,
.warning::before {
  content: "WARNING";
	background: var(--warning);
	width: 7.5rem;
}

.tip::before {
  content: "TIP";
	background: var(--tip);
	width: 4rem;
}

/* TL;DR Block */
.tldr {
  margin: 3rem 0;
}

.tldr,
.medium,
.has-medium-font-size {
  font-size: 1.75rem;
  line-height: 1.3;
  font-weight: 300;
}

.small {
  font-size: 1.1rem;
}

pre,
code,
tt,
var {
  font-family: var(--mono);
  font-size: 1.1rem;
  color: var(--text);
  background: var(--accent-bg);
  padding: 2px 5px;
  border: 1px solid var(--text);
}

pre,
pre.highlight {
  background: var(--accent-bg);
  border: 3px solid var(--text);
  margin: var(--bigger-content-margin);
  max-width: 100%;
  padding: 1.5rem;
  max-height: 650px;
  overflow: auto;
  white-space: pre;
}

pre code {
  font-size: 1rem;
  padding: 0;
  background: none;
  border: none;
}

kbd {
  color: var(--text);
  background: var(--accent-bg);
  border: 1px solid var(--text);
  border-bottom: var(--standard-border);
  border-radius: 5px;
  padding: 0.1rem 0.25rem;
}

mark {
  padding: 0.1rem 0.25rem;
  background: var(--highlight);
  color: black; 
}

/****** Misc content elemtents ******/
table {
  border: var(--standard-border);
}

th {
  text-align: left;
  padding: .2rem .4rem;
  background: var(--accent-bg);
}

td {
  padding: .2rem .4rem;
}

tr:nth-child(2n) {
  background: var(--accent-bg);
}

hr {
  border-top: 3px solid var(--text);
  margin: 3.5rem auto;
  max-width: 60%;
}

/****** Format the Footer ******/
footer {
  text-align: center;
  font-size: 0.9rem;
  border-top: 3px solid;
  margin-top: 2rem;
}

input {
  font-family: var(--sans);
  font-size: 1.25rem !important;
}

input#bd-email,
input.search,
input#search-input {
  font-size: 1rem;
  padding: .7rem;
  border: 3px solid var(--text);
  background: var(--input-bg);
  color: var(--text);
  width: 100%;
  box-sizing: border-box;
}

input#search-input {
  margin: 2rem 0 1rem 0;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0 !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hidden {
  display: none;
}

.search-form {
  margin-top: 2rem;
}

ul#results-container {
  padding: 0;
  list-style-type: none;
}

#results-container li {
  margin-bottom: 1.5rem;
}

/* Format the details/summary box */
details {
  background: var(--accent-bg);
  border: var(--standard-border);
  margin-bottom: 1rem;
}

summary {
  cursor: pointer;
  font-weight: bold;
  padding: .6rem 1rem;
}

details[open] {
  padding: .6rem 1rem .75rem 1rem;
}

details[open] summary {
  margin-bottom: .5rem;
  padding: 0;
}

details[open]>*:last-child {
  margin-bottom: 0;
}

/* Format the prev & next links on posts */
.post-nav {
  display: flex;
  border-top: var(--standard-border);
  border-bottom: var(--standard-border);
  margin: 2rem auto;
}

.post-nav a {
  font-weight: bold;
}

.post-nav p {
  padding: 2rem 0;
}

.post-nav div {
  /* flex-grow, flex-shrink, flex-basis */
  flex: 1 1 0;
}

.post-nav-next {
  text-align: right;
}

/****** Format the posts list & meta data ******/
.post-list {
  border: var(--standard-border);
  text-align: center;
  cursor: pointer;
  position: relative;
  margin: 3rem auto;
}

.post-list-inner-container {
  padding: 0 1rem;
}

.post-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.post-date {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.post-meta {
  font-size: 1rem;
  margin: var(--bigger-content-margin);
}

ul.post-meta {
  list-style-type: none;
  padding: 0;
}

ul.post-meta::before {
  content: "Posted in:";
  padding-right: 0.5rem;
  font-weight: bold;
}

ul.post-meta li {
  margin-right: 0.5rem;
  display: inline-block;
}

ul.post-meta li:last-child {
  margin-right: 0;
}

.button {
  border: var(--standard-border);
  padding: 10px 20px;
  line-height: 3.5;
}

.button:hover {
  background: var(--bg);
}

a.button {
  color: var(--text);
  text-decoration: none;
}

.reply {
  font-size: 32px;
  font-weight: bold;
  padding: 20px 40px;
}

.brutal-shadow {
  box-shadow: 6px 6px 0 0 var(--text);
  transition: all 0.1s ease;
}

.brutal-shadow:hover {
  box-shadow: 10px 10px 0 0 var(--text);
}

.post-footer {
  text-align:center;
  margin: 5rem 0 2rem 0;
}

.contribute-box,
.subscribe-form {
  border: var(--standard-border);
  margin: 4rem 0;
}

.contribute-box p {
  padding: 1rem;
  margin: 0;
}

.contribute-box-header {
  background: var(--text);
  color: var(--bg);
}

.contribute-box-header p {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
}

/* Format the subsribe form */
.subscribe-form {
  background: var(--accent-bg);
  padding: 1rem;
}

.subscribe-form h2 {
  margin-top: 0;
}

.subscribe-form form {
  max-width: 80%;
  margin: 1.5rem auto;
}

.subscribe-form input[type="submit"] {
  background: var(--bg);
  color: var(--text);
  border: var(--standard-border);
  margin: 0.5rem 0;
  padding: 10px 20px;
}

/* Pagination formatting */
.pagination-links {
  padding: 2rem 0.5rem;
  display: block;
}

.add-large-margin {
  margin: var(--bigger-content-margin);
}

/* Format projects */
.project {
  border: var(--standard-border);
  margin: var(--bigger-content-margin);
  background: var(--accent-bg);
  font-size: 1rem;
  padding: 1rem;
  position: relative;
  margin: .5rem .5rem 0 0;
  width: 42.5%;
  height: 300px;
  float: left;
}

.project-banner {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 2rem 0;
  margin: 0;
}

.about-pic {
  width: 200px;
  float: left;
  margin-right: 1.5rem;
}

.book,
.watch {
  background: var(--accent-bg);
  border: 3px solid var(--text);
  color: var(--dark-text);
  padding: 1.5rem;
  font-size: 1rem;
}

.book p,
.watch p {
  margin: 0;
}

.book img,
.watch img {
  margin: 0 1.5rem 0.75rem 0;
}

/* Make full width on mobile screens */
@media only screen and (max-width: 750px)  {
  .project {
    float: none;
    margin: .5rem 0;
    width: 90%;
    height: auto;
  }

  .about-pic,
  .floatleft,
  .book img {
    float: none;
    display: block;
    margin: 0 auto;
  }
  .book img {
    padding-bottom: 1.5rem;
  }
}

.recent-posts {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.recent-posts li {
  margin-bottom: 1.5rem;
}