---
layout: default
---
<main>
  <h1 class="page-title">{{ page.title }}</h1>
  <p class="post-date">{{ page.date | date_to_string }}</p>

  {{ content }}

  <ul class="post-meta">
    {% for category in page.categories %}
    <li><span class="post-meta"><a href="{{ site.url }}/category/{{ category | slugify }}/">{{ category }}</a></span></li>
    {% endfor %}
  </ul>

  {% include post-nav.html %}

  <div class="post-footer">
    <a class="reply button brutal-shadow" href="mailto:{{ site.email }}?subject={{ page.title }}">Reply via email</a>
  
    <div class="subscribe-form">
      <div class="subscribe-form-header">
        <h2>Subscribe via email</h2>
      </div>
      <p>Want to be informed when I post new articles? Simply enter your email address below and you will get an email whenever new posts are published.</p>
      <p>Alternatively, you can <a href="/feed">subscribe via RSS instead</a>.</p>
      <form
        action="https://buttondown.email/api/emails/embed-subscribe/kev"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.email/kev', 'popupwindow')"
        class="embeddable-buttondown-form" >
        <label class="visuallyhidden" for="bd-email">Enter your email</label>
        <input type="email" name="email" id="bd-email" placeholder="jane@example.com" />
        <input class="brutal-shadow" type="submit" value="Subscribe" />
      </form>
    </div>

    <div class="contribute-box">
      <div class="contribute-box-header">
        <p><svg class="icon" viewBox="0 0 32 32"><path d="M23.6 2c-3.363 0-6.258 2.736-7.599 5.594-1.342-2.858-4.237-5.594-7.601-5.594-4.637 0-8.4 3.764-8.4 8.401 0 9.433 9.516 11.906 16.001 21.232 6.13-9.268 15.999-12.1 15.999-21.232 0-4.637-3.763-8.401-8.4-8.401z"></path></svg> Did you enjoy this post?</p>
      </div>
      <p><b>Why not <a target="blank" href="https://ko-fi.com/kevquirk">buy me a coffee</a>?</b> It helps support the site and caffeinates me so I can keep producing content.</p>
      <p>Thank you! 🙏</p>
    </div>
  </div>
</main>
